---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const entries = await getCollection("issues")
const entry = entries.sort((a,b) => {return b.data.issue_number - a.data.issue_number;})[0]

const issueSlug = `/issues/${entry.slug}`;
const { Content, headings } = await entry.render();
---

<Layout issueSlug={issueSlug} title={entry.data.title} frontmatter={entry.data}>
  <div transition:name={entry.data.title}>
    <Content />
  </div>
</Layout>
